@use "../../styles/vars.scss" as *;
.review {
  text-align: center;
  display: flex;
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
  overflow: hidden;
  .container {
    @extend %container;
    width: 100%;
    .section-title {
      @extend %sectionTitle;
    }
    .review-items {
      display: flex;
      position: relative;
      .arrow {
        position: absolute;
        fill: $accentColor;
        bottom: 30%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        @media (max-width: 1600px) {
          bottom: 80%;
        }
      }
      .arrow-left {
        left: -100px;
        @media (max-width: 1600px) {
          left: 10px;
        }
      }
    }
    .arrow-right {
      right: -100px;
      @media (max-width: 1600px) {
        right: 10px;
      }
    }
  }
}
