@use "./vars.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus-visible {
  outline: 2px solid $accentColor;
  outline-offset: 3px;
}

body {
  font-family: $font;
  background-color: $background;
  color: $mainColor;
  font-size: 14px;
  height: 100%;
  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .text-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
  }
}
