@use "../../styles/vars.scss" as *;
.header {
  padding: 33px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    @extend %container;
    padding: 0;
    .header-wrapper {
      display: flex;
      justify-content: space-between;
      .header-left {
        display: flex;
        align-items: center;
        .logo {
          margin-right: 33px;
          img {
            display: block;
            @media (max-width: 768px) {
              width: 130px;
            }
          }
        }
        .language {
          display: flex;
          gap: 10px;
        }
        .language-switch {
          color: $mainColor;
          text-decoration: none;
          font-size: 13px;
          font-weight: 500;
          line-height: 16px;
          opacity: 50%;
        }
        .active {
          opacity: 100%;
        }
      }
      .header-right {
        display: flex;
        align-items: center;
        nav {
          border: 1px solid palegoldenrod;
          display: none;
        }
        // .nav a {
        //   @media (max-width: 1024px) {
        //     display: none;
        //   }
        // }
        .btn {
          @extend %btn;
          @media (max-width: 1024px) {
            visibility: hidden;
            display: none;
          }
        }
        .burger-wrapper {
          visibility: hidden;
          display: none;
          width: 40px;
          height: 40px;
          background-color: transparent;
          border: none;
          position: absolute;
          top: 40px;
          right: 40px;

          img {
            width: 100%;
            height: 100%;
          }
          .burger-menu {
            position: fixed;
            z-index: 100;
            width: 100%;
            top: -100%;
            background-color: $bgColor;
            padding: 100px;
            .burger-close {
              display: none;
              width: 40px;
              height: 40px;
              position: absolute;
              top: 40px;
              right: 40px;
              background-color: transparent;
              border: none;
            }
            img {
              width: 100%;
              height: 100%;
            }
            nav {
              display: flex;
              flex-direction: column;
              align-items: center;
              a {
                font-size: 30px;
                line-height: 2;
                display: none;
              }
              button {
                margin-top: 50px;
                width: 200px;
                visibility: visible;
              }
            }
          }
          .burger-menu.isOpen {
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;

            a, .burger-close {
              display: block;
            }
          }
          @media (max-width: 1024px) {
            visibility: visible;
            display: block;
          }
        }
      }
    }
  }
  .menu-link {
    font-size: 18px;
    line-height: 32px;
    color: $mainColor;
    text-decoration: none;
    margin-right: 40px;
  }
  .menu-link:last-child {
    margin-right: 35px;
  }
  .active-link {
    font-size: 18px;
    line-height: 32px;
    color: $accentColor;
    text-decoration: none;
    margin-right: 40px;
    cursor: pointer;
  }
  .active-link:last-child {
    margin-right: 35px;
  }
}
