@use "../../styles/vars.scss" as *;
.directions {
  text-align: center;
  margin-bottom: 120px;
  .container {
    @extend %container;
    .section-title {
      @extend %sectionTitle;
    }
    .directions-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 50px;
      margin-bottom: 50px;
      text-align: left;
      @media (max-width: 1325px) {
        justify-content: center;
      }
    }
    .btn {
      @extend %btn;
    }
  }
}
